.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: white;
    text-transform: uppercase;
    font-size: 26px;
    margin: 4rem 0;
}

.sectionContainer {
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid gray;
    height: 11rem;
}

.section {
    width: 80%;
    height: 8rem;
    margin: 0 auto;
    display: flex;
}

.sectionFirstContent {
    height: 100%;
    width: 50%;
    border-left: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
}

.lessons, .priceInfo {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
}

.lessons h6 {
    font-size: 60px;
}

.priceInfo h6 {
    font-size: 30px;
    font-family: 'Cousine', monospace;
}

.lessons p{
    text-transform: uppercase;
    font-size: 14px;
}

.priceInfo p {
    font-family: 'Cousine', monospace;
    text-transform: uppercase;
    font-size: 14px;
}

.lessonInfo {
    width: 70%;
}

.lessonInfo h6 {
    font-size: 18px;
    font-family: 'Cousine', monospace;
    font-weight: 400;
    text-transform:uppercase;
}

.lessonInfo p {
    font-size: 16px;
    font-family: 'Cousine', monospace;
    color: lightgray;
    font-weight: 100;
}

.sectionContent {
    height: 100%;
    width: 50%;
    border-left: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
}

@media screen and (max-width: 860px) {
    .sectionContainer {
        height: 20rem;
        width: 22rem;
        border: 1px solid gray;
        margin-bottom: 3rem;
    }
    .section {
        flex-direction: column;
        height: 100%;
        align-items: center;
        width: 100%;
    }

    .sectionFirstContent {
        width: 100%;
        border-left: none;
    }

    .sectionContent {
        width: 100%;
        border-left: none;
    }

    .lessons {
        margin-right: 2rem;
    }

    .sectionContent .cityName {
        display: none;
    }
}